.header{

    position: fixed;
    z-index: 1;
    top: 5%;
    right: 5%;
    transition: all .3s;

    @include mq("sp"){
        display: none;
    }

    &__nav{
        ul{
            display: flex;
            justify-content: center;
            li{
                transition: all .3s;
                margin-right: 60px;

                &:last-child{
                    margin-right: 0;
                }
                a{
                    font-size: rem(12);
                    font-weight: bold;
                    transition: all .3s;
                }
            }
        }
    }
}