html,body{
    height: 100%;
}

html{
    font-size: 100%;
}

body{
    line-height: 1.6;
	overflow-x: hidden;
	color: #444;
    letter-spacing: .01em;
    transition: all 0.5s ;
    box-sizing: border-box;
}

a:hover{
    transition: .3s;
    opacity: .8;
}

img{
    width: 100%;
    vertical-align: bottom;
}