.header{
    position: fixed;
    z-index: 1;
    transform: translate(-50%,-50%);
    writing-mode: vertical-lr;
    top: 50%;
    left: 96%;

    &__nav{
        ul{
            display: flex;
            justify-content: center;
            li{
                margin-bottom: 35px;
                a{
                    font-size: rem(12);
                    font-weight: bold;
                    transition: all .3s;
                }
            }
        }
    }
}